$color-primary: #1d1d1d;
$color-light: #ffffff;
$color-secondary: #787878;
$color-active: #10c9c3;
$color-active-hover: #39b4af;
$color-active-click: #24918d;

$color-bg-light: #ffffff;
$color-bg-secondary: #e9e9e9;
$color-bg-light-secondary: #f8f9f9;
$color-bg-dark: #141414;
