@import './colors';

.icon-with-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 930px) {
  .icon-item-with-text__text {
    font-size: 10px;
  }
}

.icon-item-with-text {
  display: flex;
  align-items: center;
  margin: 10px 10px;

  &.top {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    &.top {
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    font-weight: bold;
    margin: 0;
  }

  &__text {
    text-transform: uppercase;
    margin: 10px 0;
    width: 200px;
  }
}

