@import './colors';
@import './block';
@import './top-menu';
@import './percent-strip';
@import './gallery';
@import './icon-with-text';
@import './slider';
@import './send-message';
@import './modal';

html, body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: $color-primary;
}

button, input, textarea, select {
  outline: none;
  font-family: Montserrat, sans-serif;
  border-radius: 0;
}

.page {
  display: flex;
  flex-direction: column;

}

.align {
  &-left {
    align-items: flex-start;
    text-align: left;
  }

  &-center {
    align-items: center;
    text-align: center;
  }

  &-right {
    align-items: flex-end;
  }
}

.btn {
  height: 55px;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  padding: 0 45px;
  cursor: pointer;
  margin: 0 5px;

  &-sm {
    height: 35px;
    padding: 0 20px;
    min-width: 100px;
  }

  &-primary {
    background-color: $color-active;
    color: $color-light;

    &:hover {
      background-color: $color-active-hover;
    }

    &:active {
      background-color: $color-active-click;
    }
  }

  &-secondary {
    background-color: $color-light;
    color: $color-primary;

    &:hover {
      background-color: $color-bg-light-secondary;
    }

    &:active {
      background-color: $color-bg-secondary;
    }
  }

  &:disabled {
    background-color: transparent;
    color: $color-secondary;
    border: 1px solid $color-secondary;
    opacity: 0.4;
    cursor: no-drop;
  }
}

.justify-content-between {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
